<html layout:decorate="~{layout}"> <!-- ~{layout} : layout.html을 의미 -->
    <div layout:fragment="content" class="container my-3">
        <div class="row my-3">
            <div class="col-6">
                <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
            </div>
            <div class="col-6">
                <div class="input-group">
                    <input type="text" id="search-kw" class="form-control" th:value="${kw}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead class="table-dark">
            <tr class="text-center">
                <th>번호</th>
                <th style="width:50%">제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="question, loop : ${paging}">
                <td th:text="${paging.getTotalElements() - (paging.number * paging.size) - loop.index}"></td>
                <td class="text-start">
                    <!-- th:href 를 이용해서 URL주소를 나타낼때는 @{ 주소 }이렇게 한다. -->
                    <!-- 문자열과 ${}를 합칠 떈 | 기호를 이용한다. -->
                    <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                    <span class="text-danger small ms-2"
                        th:if="${#lists.size(question.answerList) > 0}"
                        th:text="|[${question.answer_cnt() + #lists.size(question.answerList)}]|">
                    </span>
                </td>
                <td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
                <!-- #temporals.format(날짜객체, 날짜포맷) - 날짜객체를 날짜포맷에 맞게 변환한다. -->
                <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <div th:if="${!paging.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${paging.number >= 5}">
                    <a class="page-link"
                       th:href="@{|?page=0|}">
                        <span>처음</span>
                    </a>
                </li>
                <li class="page-item" th:if="${paging.hasPrevious}">
                    <a class="page-link"
                       href="javascript:void(0)" th:data-page="${paging.number-1}">
                        <span>이전</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
                    th:if="${page >= paging.number-3 and page <= paging.number+5}"
                    th:classappend="${page == paging.number+1} ? 'active'"
                    class="page-item">
                    <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page-1}"></a>
                </li>
                <li class="page-item" th:if="${paging.hasNext}">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                        <span>다음</span>
                    </a>
                </li>
                <li class="page-item" th:if="${paging.number < paging.totalPages-5}">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${paging.totalPages-1}">
                        <span>마지막</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 페이징처리 끝 -->
        <form th:action="@{/question/list}" method="get" id="searchForm">
            <input type="hidden" id="kw" name="kw" th:value="${kw}">
            <input type="hidden" id="page" name="page" th:value="${paging.number}">
        </form>
        <!-- get방식을 사용하는 이유는 post로 하면 새로고침 또는 뒤로가기를 했을 때 만료된 페이지라는 오류가 종종 발생한다. -->
        <!-- 왜냐면 post방식은 동일한 post요청이 발생하면 중복 요청을 방지하기위해 그런 오류를 발생시키기 때문. -->
    </div>
<script layout:fragment="script" type="text/javascript">
    function dosearch(e) {
        let key = e.key || e.keyCode;
        if(key === 'Enter' || key === 13) {
            document.getElementById('kw').value = document.getElementById('search-kw').value;
            document.getElementById('page').value = 0; // 검색버튼을 클릭할 경우 0페이지부터 조회.
            document.getElementById('searchForm').submit();
        }
    }
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function () {
        document.getElementById('kw').value = document.getElementById('search-kw').value;
        document.getElementById('page').value = 0; // 검색버튼을 클릭할 경우 0페이지부터 조회.
        document.getElementById('searchForm').submit();
    });
    /* 엔터키에도 반응하도록 구현 */
    const search_kw = document.getElementById("search-kw");
    search_kw.addEventListener('keypress', event => dosearch(event));
</script>
</html>