<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}" href="../../static/css/error.css">
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="page-404">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <!--BEGIN CONTENT-->
                    <div class="inner-circle"><i class="fa fa-home"></i><span>404</span></div>
                    <span class="inner-status">페이지를 찾을 수 없습니다.</span>
                    <span class="inner-detail">
                        존재하지 않는 주소를 입력하셨거나</br>
                        요청하신 페이지의 주소가 변경, 삭제되어 찾을 수 없습니다.</br>
                        <a href="/" class="btn btn-info mtl"><i class="fa fa-home"></i>&nbsp;
                            메인페이지로 이동
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>