<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
  <h5 class="my-3 border-bottom pb-2">질문등록</h5>
  <form th:action="@{/question/create}" th:object="${questionForm}" method="post">
    <!-- th:replace속성을 하면 공통 템플릿을 템플릿 내에 삽입가능 -->
    <!-- 바로 아래 코드의미 : div엘리먼트를 form_error.html 파일의 th:fragment 속성명이 formErrorsFragment인 엘리먼트로 교체하라는 의미. -->
    <div th:replace="form_errors :: formErrorsFragment"></div>
    <div class="mb-3">
      <label for="subject" class="form-label">제목</label>
      <!-- *{subject}를 하면 해당 태그의 id, name, value 속성이 자동으로 생성됨. -->
      <!-- + 타임리프가 value 속성에 기존 값을 체워 넣어 오류가 발생하더라도 기존에 입력한 값이 유지된다. -->
      <input type="text" th:field="*{subject}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">내용</label>
      <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
    </div>
    <input type="submit" value="저장하기" class="btn btn-primary my-2">
  </form>
</div>
</html>